<ion-header>
  <ion-toolbar>
    <ion-title> Firebase APP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated"> Students </ion-list-header>

    <ion-item *ngFor="let student of Studentss" class="user-list">
      <ion-label>
        <h5><ion-icon name="person"></ion-icon> {{student.name}}</h5>
        <p><ion-icon name="call"></ion-icon> {{student.mobile}}</p>
      </ion-label>

      <div class="item-note" item-end>
        <button
          ion-button
          clear
          [routerLink]="['/edit-student/', student.$key]"
        >
          <ion-icon name="create" style="zoom: 2"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteStudent(student.$key)">
          <ion-icon name="trash" style="zoom: 2"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
